.categoryContainer {
  min-height: 733px;
  margin: 0 150px;
  /* border: 3px solid red; */
}

@media screen and (max-width: 600px) {
  .categoryContainer {
    margin: 0;
  }
}

.categoryName {
  font-size: 30px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid yellowgreen; */
}

.folderListAndAddButton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  /* border: 3px solid blue; */
}

.folderList {
  display: flex;
  justify-content: center;
  margin: auto 0;
  flex-wrap: wrap;
  /* border: 3px solid yellow; */
}

.noFolder {
  font-size: 32px;
  margin: auto 0;
  /* border: 3px solid yellow; */
}

.folderElement {
  margin: 0 30px;
  /* border: 3px solid red; */
}

.folderText {
  font-size: 18px;
  display: block;
  text-align: center;
  margin-top: 10px;
  /* border: 3px solid red; */
}

.addFolder {
  margin: 36px 0;
  /* border: 3px solid red; */
}

.addFolderButton {
  border: 1px solid #808080;
  border-radius: 10%;
  width: 128px;
  height: 128px;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  /* border: 3px solid red; */
}
.addFolderButton:hover {
  background-color: #a0a0a090;
}

.plus {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plusIcon {
  width: 100%;
}
.plusText {
  text-align: center;
  margin-top: 8px;
}

.folderCloseIcon:hover {
  cursor: pointer;
  color: #efefef;
}
