.category {
  height: 720px;
  margin: 0 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.folderList {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
}

.folderElement {
  margin-right: 50px;
}

.folderText {
  font-size: 18px;
  font-family: "Anton", sans-serif;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.addFolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addFolderButton {
  border: 1px dotted #808080;
  width: 128px;
  height: 128px;
  transition: all 0.1s;
  cursor: pointer;
  position: relative;
}
.addFolderButton:hover {
  border: 1px dotted blue;
}

.plus {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plusIcon {
  width: 100%;
}
.plusText {
  font-family: "Gamja Flower", cursive;
  text-align: center;
  margin-top: 8px;
}

.dupAlert {
  font-family: "Gamja Flower", cursive;
}

.removeIcon {
  font-size: 20px;
  text-align: end;
}
