.detailPostContainer {
  min-height: 733px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
}

@media screen and (max-width: 400px) {
  .detailPostContainer {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
    border: 3px solid red;
  }
}

.detailPostTitle {
  font-size: 50px;
  margin-top: 50px;
  /* border: 1px solid yellowgreen; */
}

.dateAndUpdate {
  display: flex;
  /* border: 1px solid gray; */
}

.detailPostDate {
  font-size: 15px;
}

.detailPostUpdate {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s;
}

.detailPostRemove {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.detailPostUpdate:hover {
  transform: scale(1.1);
}

.detailPostRemove:hover {
  transform: scale(1.1);
}

.detailPostContent {
  font-size: 20px;
  min-height: 200px;
  margin: 150px 0;
  /* border-bottom: 1px solid gray; */
  /* border: 1px solid yellow; */
}
