.entireContainer {
  /* border: 3px solid red; */
}

.folderName {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gamja Flower", cursive;
  /* border: 3px solid red; */
}

.addPost {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  margin: 30px;
  /* border: 3px solid blue; */
}

.postListContainer {
  /* border: 3px solid #808080; */
}
