.folderContainer {
  min-height: 733px;
  margin: 0 150px;
}

.folderName {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gamja Flower", cursive;
  /* border: 3px solid red; */
}

.addPost {
  display: flex;
  justify-content: center;
  /* margin: 30px 0; */
  margin: auto 0 15px 0;
  /* border: 3px solid yellowgreen; */
}

.postListContainer {
  margin-top: 15px;
  /* border: 3px solid blue; */
}

.noPostContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.noPost {
  text-align: center;
  /* margin: auto 0; */
  margin-bottom: auto;
  /* border: 3px solid red; */
}
