.entireContainer {
  border: 3px solid red;
  /* position: absolute; */
  /* bottom: 0; */
}

.postContainer {
  margin-bottom: 10px;
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
}
.post {
  width: 50%;
  margin: 10px;
  /* border: 3px solid red; */
}
.postTitle {
  text-overflow: ellipsis;
  overflow: hidden;
}
.postCloseIcon {
  margin: auto 0;
}
.postCloseIcon:hover {
  cursor: pointer;
  color: #efefef;
}
