.header {
  position: relative;
  height: 200px;
}

.category {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5px;
}

.btn {
  width: 115px;
  margin-right: 10px;
}

.homeImg {
  position: absolute;
  width: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20px;
}
