.headerContainer {
  border-bottom: 1px solid black;
  height: 100px;
  display: flex;
  /* justify-content: center; */
}

.categoryListContainer {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 3px solid red; */
}

.addCategoryButton {
  font-size: 15px;
}

.searchAndLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  /* border: 3px solid red; */
}

.searchIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 50%;
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.searchIcon:hover {
  background-color: #a0a0a090;
}

.categoryElementContainer {
  margin-right: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
  /* border: 3px solid red; */
}

.categoryElement {
  /* color: black; */
  font-size: 25px;
  cursor: pointer;
}

.categoryElement:hover {
  color: rgba(143, 145, 153, 0.5);
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #a0a0a0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}

.radioCircle {
  opacity: 0;
}

input[name="category"]:checked + label {
  /* border-bottom: 2px solid #a0a0a0;
  color: #a0a0a0; */
}

.headerCloseIcon {
  margin: auto 0;
  /* border: 3px solid red; */
}
.headerCloseIcon:hover {
  cursor: pointer;
  color: #efefef;
}
