.header {
  border-bottom: 1px solid black;
}

.buttonGroup {
  text-align: center;
  margin-bottom: 5px;
}

.btn {
  width: 115px;
  margin-right: 10px;
}

.homeImg {
  display: block;
  margin: 0 auto;
  width: 50px;
}
