.home {
  height: 700px;
  margin: 0 150px;
  /* border: 3px solid red; */
}

.homeName {
  font-size: 30px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gamja Flower", cursive;
  /* border: 3px solid red; */
}

.video {
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}

#player {
  width: 640px;
  height: 360px;
}
