.lang {
  position: relative;
}

.langElements {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.langElement {
  position: relative;
  border-radius: 30%;
  transition: all 0.2s;
  margin-right: 50px;
}

.langElement:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.langText {
  font-size: 18px;
  font-family: "Anton", sans-serif;
  width: 128px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.addLang {
  width: 100px;
  margin: 50px auto;
}

.addLangForm {
  width: 250px;
  margin: 50px auto;
  transform: translateX(-50%);
}
