.navigationContainer {
  font-family: "Gamja Flower", cursive;
  font-size: 20px;
  height: 50px;
  position: relative;
  /* border: 1px solid red; */
}

.navigation {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
}

.linkNavi {
  opacity: 0.5;
}

.linkNavi:hover {
  opacity: 1;
}
