.noSearchPost {
  min-height: 633px;
  margin: 0 150px;
  position: relative;
  /* border: 3px solid red; */
}

.noSearchPostText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 3px solid red; */
}

.yesSearchPost {
  min-height: 626px;
  /* border: 3px solid red; */
}

.clearInputIcon {
  margin-left: -30px;
  font-size: 25px;
  cursor: pointer;
}

.searchInputContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  /* border: 3px solid blue; */
}

.searchInput {
  width: 50%;
  height: 50%;
  font-size: 32px;
  /* border: 3px solid red; */
}
